* {
    margin: 0;
    padding: 0;
}

#arrow {
    font-size: 140px;
}

textarea {
    width: 100%;
    height: 30vh;
}

#input-tag {
    width: 46% !important;
}

#output-tag {
    width: 46% !important;
}